body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.order-details h3 {
    margin: 0;
    font-size: 18px;
    color: #444;
}

.order-details p {
    margin: 5px 0;
    color: #666;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}
.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FF0000; /* Vermelho para combinar com o tema */
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.back-button:hover {
    background-color: #CC0000; /* Escurece um pouco quando hover */
}
