body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loader-container {
    text-align: center;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 10px solid #ddd;
    border-radius: 50%;
    border-top: 10px solid #FFD700;
    animation: spin 1s linear infinite;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    display: block;
    height: 100%;
    background-color: #FFD700;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: left 5s linear;
}

#percentage {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
